# Bash configuration
# Jan Tulak <jan@tulak.me>
# Uses tabstop=4; shiftwidth=4 tabs; foldmarker={{{,}}};
# vim:set syntax=sh:

set -o notify

# append to the history file, don't overwrite it
shopt -s histappend

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize
